@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #5C5F68;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2, h3, .agent {
    font-weight: bold;
    display: block;
    color: black;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
nav{
    background: white;
    border-radius: 0px;
    padding: 10px;;
    border: 1px solid #5C5F68;

}

nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 15px;
    padding: 0 20px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

.reg-current, .radio {
    color: #55BC7A;
}

.radio {
    color: #55BC7A;
    background-color: #55BC7A;
}

 
.asterisco {
    color: red;
}

.footnote {
    color: #B3BBC9
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 0px;
    margin: 0 15px;
    background-color: white;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: white;
    overflow: hidden;
}

.container form .form{
    position: absolute;
    background-color: white;
    transition: 0.3s ease;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.container form p{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    box-sizing: content-box;
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    margin: 3px 0;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
    box-sizing: content-box;
}


.input-field label{
    font-size: 15px;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #5C5F68;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    box-sizing: border-box;
}

form .fields .input-half{
    display: flex;
    width: calc(120px);
    flex-direction: column;
    margin: 4px 0;
    box-sizing: content-box;
}

.input-half input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #5C5F68;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    box-sizing: border-box;
}

.office-space {
    display: flex;
    background-color: #d2d9f1;
    padding: 0 15px;
    height: 45px;
    margin: 8px 0;
}

.office-space .radio {
    display: flex;
    width: 15px;
    padding: 5px;
    margin: 5px;
}

.office-space span {
    display: flex;
    margin: 20px;
}

.container form button, .cancelBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #55BC7A;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .textBtns{
    font-size: 18px;
    font-weight: 400;
    color: white;
    align-items: right;
    justify-content: right;
    float: right;
}

.container .cancelBtn{
    background-color: #9a9faf;
    margin-left: 480px;
}

form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

.reg-current{
    position: relative;
}

.reg-current::before{
    content: "";
    position: absolute;
    bottom: -12px;
    height: 4px;
    width: 160px;
    background-color: #55BC7A;
}
